# Envs & secrets
.env
.env.*
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/

# Django
*.log
media/
staticfiles/

# Tools/IDE
.idea/
.vscode/
.pytest_cache/
.coverage
htmlcov/

celerybeat-schedule
